html{
  box-sizing: border-box;
}
*, ::after ,::before{
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "bezszeryfowa";
  background-color: rgb(88, 88, 88);
  background-image: url("background.jpg");
}
